.recentlySoldProducts{
    margin: 20px 110px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.recentlySoldProducts .cardHead{
    display: flex;
    justify-content: space-between;
}

.recentlySoldProducts .cardHead .viewMoreBtn{
    font-size: 12px;
    outline: none;
    border: 1px solid #498EC5;
    font-weight: 600;
}