.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product .productInfo{
    margin: 10px 1px;
    width: 207px;
}

.product .productInfo img{
    height: 210px;
}

.product .productInfo .cardBody{
    margin-left: 10px;
}

.product .productInfo .cardBody > p:first-child{
    line-height: 1;
    margin-bottom: -2px;
    margin-top: 10px;
    font-weight: 800;
    color: #498EC5;
}

.product .productInfo .cardBody > small{
    font-weight: 500;
}

.product .productInfo .cardBody > p:nth-child(3){
    padding-top: 10px;
    margin-bottom: -5px;
    margin-top: -15px;
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
    font-weight: 700;
}

.product .productInfo .cardBody > p:last-child{
    font-weight: 700;
    margin-bottom: 10px;
}

.product .productInfo .addToCartBtn{
    background-color: #498EC5;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: 700;
}

.product .productInfo .addToCartBtn:hover{
    background-color: #287ec4;
}