.navBar .logo1 {
    margin: 10px;
    height: 60px;
}

.navBar .search > form > input{
    width: 600px;
    margin-top: 10px;
    margin-left: 40px;
    height: 35px;
    padding: 0px 15px;
    outline: none;
    border: 1px solid #498EC5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
}

.navBar .search > form > *:last-child{
    height: 35px;
    background-color: #498EC5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    outline: none;
}

.navBar .signIn{
    height: 37px;
    background-color: #498EC5;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 5px 20px;
    outline: none;
    border: none;
}

.navBar .signIn:hover{
    background-color: #498EC5;
}