.recentlySoldProducts{
    margin: 20px 110px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.recentlySoldProducts .cardHead{
    display: flex;
    justify-content: space-between;
}

.recentlySoldProducts .card img{
    height: 250px;
}

.recentlySoldProducts .card .addToCartBtn{
    background-color: #498EC5;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 12px;
    font-weight: 700;
}

.recentlySoldProducts .card .addToCartBtn:hover{
    background-color: #287ec4;
}