.orderSummary{
    margin: 10px;
    background-color: white;
    height: auto;
    padding: 5px 20px;
    height: 300px;
    width: 300px;
}

.orderSummary div{
    display: flex;
    justify-content: space-between;
}

.orderSummary > p{
    font-weight: 700;
    font-size: 18px;
}

.orderSummary div:last-child p{
    font-weight: 700;
}

.orderSummary p span{
    margin: auto;
}